<ion-card class="custom-card">
  <ion-card-header>
    <ion-card-title class="middle">{{ description }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="card-content">
      <div class="middle">
        <p class="type">Type: {{ type }}</p>
        <p class="dates">{{ startAt | date: 'd MMM yyyy' }} - {{ endAt | date: 'd MMM yyyy' }}</p>
        <div class="right">
          <ion-icon
            name="star-outline"
            class="star-icon"
            [ngClass]="{'star-filled': isStarred}"
            (click)="toggleStar()">
          </ion-icon>
        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
