<ion-header class="bg-color">
  <ion-toolbar class="dynamic-toolbar">
    <ion-title>
      Username
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline" class="white-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-img no-border">
  <!-- Greeting Section -->
  <div class="greeting text-color-white">
    <h2 class="ml-3">Where do you want to go?</h2>
    <ion-searchbar placeholder="Search for places..." showClearButton="focus"></ion-searchbar>
  </div>

  <!-- Categories Section -->
  <div class="categories text-color-white">
    <h3>Next Trip / Current Trip</h3>
  
  </div>
</ion-content>
