<ion-header class="bg-color">
  <ion-toolbar class="dynamic-toolbar">
    <ion-title>
      Username
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline" class="white-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-img no-border ">
  <div class="greeting text-color-white">
    <h2 class="ml-3">Relive your past trips</h2>
    <ion-searchbar placeholder="Which memories do you want to revive?"></ion-searchbar>
  </div>

  <div class="categories text-color-white">
    <h3>Categories</h3>
    <div class="category-buttons">
      <ion-chip>
        <ion-icon name="sunny-outline"></ion-icon>
        <ion-label>Camp</ion-label>
      </ion-chip>
      <ion-chip >
        <ion-icon name=""></ion-icon>
        <ion-label>Mountains</ion-label>
      </ion-chip>
    </div>
  </div>
</ion-content>
