ion-header {
    ion-toolbar {
        --background: url('../../../assets/images/bg-sec3header.jpg') no-repeat center center / cover;
        --border-width: 0px;
        border: none;
        box-shadow: none;
        color: #ffff;
    }
}

.white-icon {
    color: white;
  }

.white-bg-icon {
    background-color: white;
  }

.no-border {
    //teste
    border: none;
    box-shadow: none;
}

.greeting {
    padding: 16px;

    h2 {
        font-size: 24px;
        font-weight: bold;
    }
}

.categories {
    padding: 16px;

    h3 {
        margin-bottom: 8px;
        font-size: 20px;
        font-weight: semi-bold;
    }

    .category-buttons {
        display: flex;
        gap: 8px;
    }
}

.ml-3 {
    margin-left: 4%;
}

.dynamic-toolbar {
    --height: calc(6vh);
    min-height: calc(6vh);
    display: flex;
    align-items: center;
}

.bg-img {
    --background: url('../../../assets/images/bg-sec3.png') no-repeat center center / cover;
}

ion-searchbar {
    --background: #FFFFFF;
    --color: #333333;
    --placeholder-color: #666666;
    --border-color: #CCCCCC;
    margin-bottom: 15px;
}

ion-chip {
    --background: #FFFFFF;
    --color: #000000;
    --border-color: #CCCCCC;
    --box-shadow: none;
  }
  
  ion-chip:hover {
    --background: #F8F8F8; 
    --color: #000000;
    --border-color: #AAAAAA;
  }
