<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create Travel</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Trip Info Form -->
  <ion-item>
    <ion-input labelPlacement="stacked" label="Trip Name" [(ngModel)]="tripDescription" placeholder="Enter the trip name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select labelPlacement="stacked" label="Trip Type" [(ngModel)]="tripType" placeholder="Select the trip type">
      <ion-select-option value="Business">Business</ion-select-option>
      <ion-select-option value="Vacation">Vacation</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select labelPlacement="stacked" label="Trip State" [(ngModel)]="tripState" placeholder="Select the current state of the trip">
      <ion-select-option value="Planned">Planned</ion-select-option>
      <ion-select-option value="Ongoing">Ongoing</ion-select-option>
      <ion-select-option value="Done">Done</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Trip Start and End Dates -->
  <ion-item>
    <ion-label position="stacked">Start of Trip</ion-label>
    <ion-datetime-button datetime="tripStartDatetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="tripStartDatetime" [(ngModel)]="tripStart"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">End of Trip</ion-label>
    <ion-datetime-button datetime="tripEndDatetime"></ion-datetime-button>
    <ion-modal [keepContentsMounted]="true">
      <ng-template>
        <ion-datetime id="tripEndDatetime" [(ngModel)]="tripEnd"></ion-datetime>
      </ng-template>
    </ion-modal>
  </ion-item>

  <!-- Location Form Toggle Button -->
  <ion-button expand="full" (click)="toggleLocationForm()">
    {{ showLocationForm ? 'Cancel Location' : 'Add Location' }}
  </ion-button>

  <!-- Location Form Inputs (conditionally shown based on the toggle) -->
  <div *ngIf="showLocationForm">
    <ion-item>
      <ion-input labelPlacement="stacked" label="Location Description" [(ngModel)]="locationDescription" placeholder="Enter the location description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select labelPlacement="stacked" label="Location Type" [(ngModel)]="locationType" placeholder="Select the location type">
        <ion-select-option value="Hotel">Hotel</ion-select-option>
        <ion-select-option value="Restaurant">Restaurant</ion-select-option>
        <ion-select-option value="Airport">Airport</ion-select-option>
        <ion-select-option value="Tourist Spot">Tourist Spot</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select labelPlacement="stacked" label="Location State" [(ngModel)]="locationState" placeholder="Select the location state">
        <ion-select-option value="Planned">Planned</ion-select-option>
        <ion-select-option value="Visited">Visited</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Location Start</ion-label>
      <ion-datetime-button datetime="locationStartDatetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="locationStartDatetime" [(ngModel)]="locationStart"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Location End</ion-label>
      <ion-datetime-button datetime="locationEndDatetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="locationEndDatetime" [(ngModel)]="locationEnd"></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-button expand="full" (click)="addLocation()">Add Location</ion-button>
  </div>

  <!-- Location List -->
  <ion-list>
    <ion-item *ngFor="let loc of locations">
      <ion-label>
        <h2>{{ loc.description }}</h2>
        <p>{{ loc.type }} - {{ loc.state }}</p>
        <p>{{ loc.start | date:'medium' }} to {{ loc.end | date:'medium' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
