<ion-content class="bg-img">
  <!-- Greeting Section -->
  <div class="greeting text-color-white">
    <h2 class="ml-3">Welcome to Plan&GO</h2>
  </div>

  <!-- Categories Section -->
  <div class="categories text-color-white">
    <h3>Next Trip / Current Trip</h3>
    <ng-container *ngFor="let item of travels">
      <app-card [description]="item.description" [type]="item.type">
      </app-card>
    </ng-container>
    <ng-template #noTrips>
      <p>No trips available at the moment.</p>
    </ng-template>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button expand="block" (click)="openModal()">
      <ion-icon color="#67B1DE" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
