<ion-content class="bg-img">
  <!-- Greeting Section -->
  <div class="greeting text-color-white">
    <h2 class="ml-3">Hello, username!</h2>
    <p class="ml-3">What are you up to?</p>
  </div>

  <!-- Categories Section -->
  <div class="categories text-color-darkBlue">
    <h3>Your Next Adventures</h3>
    <div class='card-list'>
      <ng-container *ngFor="let item of travels">
        <app-card (click)="openTripModalComponent(item.id)" [description]="item.description" [type]="item.type"
                  [startAt]="item.startAt" [endAt]="item.endAt">
        </app-card>
      </ng-container>
    </div>
    <ng-template #noTrips>
      <p>No trips available at the moment.</p>
    </ng-template>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button expand="block" (click)="openModal()">
      <ion-icon color="#67B1DE" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
