<ion-content class="bg-img">
  <div class="ml-2 text-color-white">
    <h2 class="ml-3">Search Your Journey</h2>
    <ion-searchbar placeholder="Search for trips..." debounce="300" (ionInput)="handleInput($event)"></ion-searchbar>
  </div>

  <div class="categories2 ml-2">
    <h3>Filter by State</h3>
    <div class="button-container">
      <div class="top-buttons">
        <ion-button
          shape="round"
          [color]="selectedState === 'planned' ? 'primary' : 'light'"
          (click)="filterTravels('planned', undefined)">
          Planned
        </ion-button>
        <ion-button
          shape="round"
          [color]="selectedState === 'ongoing' ? 'primary' : 'light'"
          (click)="filterTravels('ongoing', undefined)">
          OnGoing
        </ion-button>
        <ion-button
          shape="round"
          [color]="selectedState === 'done' ? 'primary' : 'light'"
          (click)="filterTravels('done', undefined)">
          Done
        </ion-button>
      </div>
    </div>

    <h3>Filter by Type</h3>
    <div class="button-container">
      <div class="bottom-buttons">
        <ion-button
          shape="round"
          [color]="selectedType === 'business' ? 'primary' : 'light'"
          (click)="filterTravels(undefined, 'business')">
          Business
        </ion-button>
        <ion-button
          shape="round"
          [color]="selectedType === 'vacation' ? 'primary' : 'light'"
          (click)="filterTravels(undefined, 'vacation')">
          Vacation
        </ion-button>
      </div>
    </div>
  </div>

  <div class="categories text-color-white">
    <ng-container *ngIf="filteredTravels.length > 0; else noTrips">
      <div class="card-list">
        <ng-container *ngFor="let item of filteredTravels">
          <app-card
            (click)="openTripModalComponent(item.id)"
            [description]="item.description"
            [type]="item.type"
            [startAt]="item.startAt"
            [endAt]="item.endAt"
            [travelId]="item.id"
            [isFav]="item.isFav"
          (favoriteChanged)="updateFavorite($event)">
          </app-card>
        </ng-container>
      </div>
    </ng-container>
    <ng-template #noTrips>
      <p>No trips available at the moment.</p>
    </ng-template>
  </div>
</ion-content>
