<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Plan & Go
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="teste">
    <div id="createTravel" class="flex-center">
      <img src="../../assets/images/image.png" style="width : 80% ; height : 100px" routerLink="/create-travel">
    </div>

    <div id="currentTravel" class="flex-center">
      <img src="../../assets/images/image.png" style="width : 80% ; height : 100px" routerLink="/current-travel">
    </div>

    <div id="nextTravel" class="flex-center">
      <img src="../../assets/images/image.png" style="width : 80% ; height : 100px" routerLink="/next-travel">
    </div>

    <div id="previousTravel" class="flex-center">
      <img src="../../assets/images/image.png" style="width : 80% ; height : 100px" routerLink="/previous-travel">
    </div>
  </div>

</ion-content>